@import 'tailwindcss';

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@theme {
  --nav-height: 5rem;
  --color-accent: #4f46e5;
  --color-accent-secondary: #a78bfa;
  --color-primary: #15224e;
  --color-background: #fbf9fa;
  --font-sans: 'Plus Jakarta Sans Variable', system-ui, sans-serif;
}

@layer components {
  .container {
    @apply max-w-350 mx-auto px-[clamp(1rem,4vw,3rem)];
  }

  .card-notch:before {
    bottom: 40px;
    left: 0;
    width: 40px;
    height: 40px;
    transform: translateZ(0);
    -webkit-mask-image: radial-gradient(circle at top right, transparent 40px, black 41px);
    mask-image: radial-gradient(circle at top right, transparent 40px, black 41px);
  }
}
